.introduction {
    padding: 2.5rem;
    text-align: right;
    position: relative;
    display: grid;
    gap: 20px;
    align-content: center;
    justify-items: end;
}

img {
    max-width: 100%;
    display: block;
}
.introduction-cover img {
    object-fit: cover;
    height: 100%;
}


.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
}

.btn {
    background: #FCA311;
    color: #000;
    padding: 1rem 2rem;
    border-radius: 4px;
}

.btn:hover {
    background-color: #F7B446;
}

@media (max-width: 1000px) {
    .content {
        grid-template-columns: 1fr;
    }
    .main-subtitle {
        text-align: center;
    }
}

@media (max-width: 600px) {
    body {
        gap: 30px;
        margin-top: 20px;
    }
    

    .main-header {
        gap: 30px;
    }
    .content {
        grid-template-columns: 1fr;
    }

    .introduction {
        text-align: left;
        justify-items: start;
    }

    .main-subtitle {
        font-size: 3rem;
    }
}

@media (max-width: 400px) {
    .main-subtitle {
        font-size: 2rem;
    }
    p {
        font: 1rem;
    }
}