
.technical {
    padding: 40px;
}

.technical-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 20px;
    padding: 1rem;
    border-left: 4px solid transparent;
}

.technical-item:hover {
    border-color: #FCA311;
}

.technical p {
    grid-column: 2;
}